include README
include NOTES
include CHANGELOG
include spf.py
include spfquery.py
include type99.py
include setup.py
include setup.cfg
include test/*.yml
include test/testspf.py
include python-pyspf.spec
